[Unit]
Description=www.growse.com web app
After=postgresql.service

[Service]
ExecStart=/usr/bin/www.growse.com --configFile /etc/www-growse-com.conf
User=www-data

[Install]
WantedBy=multi-user.target
