#thumbs {
  ul.thumbs {
    clear: left;
    li {
      float: left;
      background: none ! important;
      padding: 0 ! important;
      margin: 5px 10px 5px 0 ! important;
    }
  }
  a.thumb {
    padding: 2px;
    display: block;
    border: 1px solid #ccc;
  }
  ul.thumbs li.selected a.thumb {
    background: #aaa;
  }
  a.thumb:focus {
    outline: none;
  }
  ul.thumbs img {
    border: none;
    display: block;
  }
}

.content {
  float: right;
  width: 550px;
}

div {
  &#slideshow-container {
    position: relative;
    clear: both;
    height: 502px;
    /* This should be set to be at least the height of the largest image in the slideshow */
  }
  &#loading {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/twitterloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 550px;
    height: 502px;
    /* This should be set to be at least the height of the largest image in the slideshow */
  }
  &#slideshow {
    span.image-wrapper {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    a.advance-link {
      display: block;
      width: 550px;
      height: 502px;
      /* This should be set to be at least the height of the largest image in the slideshow */
      line-height: 502px;
      /* This should be set to be at least the height of the largest image in the slideshow */
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.slideshow a.advance-link {
    &:active, &:visited {
      text-decoration: none;
    }
  }
  &#slideshow img {
    vertical-align: middle;
    border: 1px solid #ccc;
  }
}

#slideshow {
  text-align: center;
}

.nav-controls {
  float: right;
}

div {
  &#controls {
    margin-top: 5px;
    height: 23px;
    a {
      padding: 5px;
    }
  }
  &.pagination {
    a {
      display: block;
      float: left;
      margin-right: 2px;
      padding: 0px 3px;
    }
    span {
      &.current, &.ellipsis {
        display: block;
        float: left;
        margin-right: 2px;
        padding: 0px 3px;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}
