body {
    font-size: 13px;
    font-family: "Trebuchet MS",Tahoma,"Bitstream Vera Sans",Sans-serif;
    color: #aaa;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
}

.here {
    background-color: #222;
    border: 0;
}
#container {
    background: #333;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    scroll: width: 16px;
    nav {
        overflow-y: hidden;
        background: #111;
        position: fixed;
        float: left;
        width: 200px;
        height: 100%;
        ul {
            list-style-type: none;
            margin:0;
            padding:0;
            li {
                a {
                    height: 4em;
                    padding: 1em;
                    display: block;
                    border-top: 1px solid #222;
                }
            }
        }
    }
    #content {
        background-color: #222;
        height: 100%;
        margin: 0 200px;
        padding: 2em;
        article header {
            height: auto;
            background: none;
            h1 {
                border: 0;
                margin: 0;
                font-size: 2.0em;
                color: #f90;
                font-weight: lighter;
            }
            time {
                float: right;
                line-height: 10px;
                font-size: 10px;
                display: block;
                margin-top: 0;
            }
        }
    }
}

a {
    text-decoration: none;
    color: #57d;
    img {
        border: 0;
    }
}

p {
    margin: 1em 0;
    line-height: 20px;
}

.commentform fieldset {
    border: 0;
    padding: 0;
    input {
        margin: 0;
        padding: 2px;
        color: #aaa;
        font-size: 11px;
        border: 1px solid #666;
        font-family: Tahoma,Bitstream Vera Sans,Sans-serif;
        background: #222;
    }
}

fieldset textarea, input, textarea {
    margin: 0;
    padding: 2px;
    color: #aaa;
    font-size: 11px;
    border: 1px solid #666;
    font-family: Tahoma,Bitstream Vera Sans,Sans-serif;
    background: #222;
}

.commentform fieldset {
    input, textarea {
        width: 296px;
    }
    label, input.textfield, textarea.textfield {
        display: block;
        width: 200px;
        float: left;
        margin-bottom: 10px;
    }
    label {
        text-align: right;
        width: 55px;
        padding-right: 20px;
    }
}

iframe {
    border: 0;
}

#headerimage {
    background: url("../img/growse.com.sprite2.png") 0 -90px no-repeat;
    width: 370px;
    float: right;
    height: 80px;
    span {
        display: none;
    }
}

#randomlinks {
    display: none;
}

#search {
}

#twitter_div ul li span {
    line-height: 10px;
    margin: 0;
    font-size: 10px;
}

#content {
}

#newscrumb {
    float: right;
    margin: 0;
}

#newsnav {
    margin: 0 0 3em 0;
}

#newsnavleft {
    float: left;
}

#newsnavright {
    float: right;
    text-align: right;
}

#newsnavleft, #newsnavright {
    margin: 0;
    padding: 0;
    width: 380px;
}

.code {
    font-family: monospace;
    border: 1px solid #556;
    white-space: pre;
    overflow: auto;
    padding: 5px;
    color: #ddd;
    background: #223;
}

footer {
    font-size: 85%;
    background-color: #333;
    padding: 10px;
    text-align: right;
}

ul#linkstable {
    list-style-type: none;
    li! {}
}


.searchresult {
    border: 1px solid #556;
    margin-bottom: 15px;
    background: #223;
    padding: 5px;
    h2 a {
        color: #f90;
        border-bottom: 1px dotted #f90;
    }
}

.comment_title {
    margin: 5px 0;
}

.comment_body {
    background: #223;
    border: 1px solid #556;
    padding: 0 5px;
    margin-bottom: 10px;
}

.commentform input.submitbtn {
    background: #333;
    width: 70px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hohoho {
    display: none;
}

.centertext {
    text-align: center;
}

.clear {
    clear: both;
}

.prop {
    float: right;
    width: 1px;
    min-height: 313px;
    height: 313px;
}

.clear_prop {
    clear: both;
    height: 1px;
    overflow: hidden;
}

.homepagesmall {
    margin: 0;
    font-size: 10px;
}

#thumbs {
    ul.thumbs {
        clear: left;
        li {
            float: left;
            background: none!important;
            padding: 0!important;
            margin: 5px 10px 5px 0!important;
        }
    }
    a.thumb {
        padding: 2px;
        display: block;
        border: 1px solid #ccc;
    }
    ul.thumbs li.selected a.thumb {
        background: #aaa;
    }
    a.thumb:focus {
        outline: none;
    }
    ul.thumbs img {
        border: none;
        display: block;
    }
}

div {
    &#slideshow-container {
        position: relative;
        clear: both;
        height: 502px;
    }
    &#loading {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/twitterloader.4d7c63d34926.gif");
        background-repeat: no-repeat;
        background-position: center;
        width: 550px;
        height: 502px;
    }
    &#slideshow {
        span.image-wrapper {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        a.advance-link {
            display: block;
            width: 550px;
            height: 502px;
            line-height: 502px;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.slideshow a.advance-link {
        &:active, &:visited {
            text-decoration: none;
        }
    }
    &#slideshow img {
        vertical-align: middle;
        border: 1px solid #ccc;
    }
}

#slideshow {
    text-align: center;
}

.nav-controls {
    float: right;
}

div {
    &#controls {
        margin-top: 5px;
        height: 23px;
        a {
            padding: 5px;
        }
    }
    &.pagination {
        a {
            display: block;
            float: left;
            margin-right: 2px;
            padding: 0 3px;
        }
        span {
            &.current, &.ellipsis {
                display: block;
                float: left;
                margin-right: 2px;
                padding: 0 3px;
            }
        }
        a:hover {
            text-decoration: none;
        }
    }
}
