$default-prefixes: webkit moz ms o;

@mixin build-prefix-values($property, $value, $prefixes: $default-prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  #{$property}: #{$value};
}

@mixin prefixtime($property, $value) {
  @include build-prefix-values($property, $value);
}

$background-hl-color: #333;
$background-color: #222;
$font-color: #aaa;

$primary-highlight-color: #f90;
$secondary-highlight-color: #57d;

$sansfont: 'Open Sans', Trebuchet, Sans;
$seriffont: 'Andada', Georgia, serif;
$monospacefont: 'Inconsolata', monospace;

$headlinefont: $sansfont;
$bodyfont: $seriffont;
$navlinkfont: $sansfont;
$articlesectionheadingfont: $sansfont;
$subheadlinefont: $seriffont;
$archivenavfont: $sansfont;
$formfont: $sansfont;
$pagetitlefont: $sansfont;
$datefont: $sansfont;

$lefthandwidth: 200px;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url(/static/fonts/opensans-300.woff) format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), url(/static/fonts/opensans-400.woff) format('woff')
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: local('Inconsolata'), url(/static/fonts/inconsolata-500.woff) format('woff')
}

@font-face {
  font-family: 'Andada';
  font-style: normal;
  font-weight: 400;
  src: local('Andada'), url(/static/fonts/andada-400.woff) format('woff')
}

html {
  font-size: 100%;
  body {
    font-size: 16px;
    font-size: 1.0rem;
    font-family: $bodyfont;
    color: $font-color;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: $background-hl-color;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    #container {
      background: $background-hl-color;
      text-align: left;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 1023px) {
        nav {
          display: none;
        }
      }
      @media screen and (min-width: 1024px) {
        nav {
          overflow: hidden;
          /*      -webkit-overflow-scrolling: touch;*/
          position: fixed;
          float: left;
          width: $lefthandwidth;
          padding: 0;
          height: 100%;
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              background: #111;
              @include prefixtime('box-shadow', '0px 2px 2px rgba(10, 10, 10, 0.75)');
              a {
                outline: solid 1;
                font-family: $navlinkfont;
                font-size: 0.8rem;
                width: $lefthandwidth;
                display: table-cell;
                vertical-align: middle;
                height: 3.0rem;
                text-overflow: ellipsis;
                padding: 0.2rem 1rem;
                border-top: 1px solid $background-color;
              }
            }
          }
        }
      }
      @media screen and (max-width: 767px) {
        > header {
          display: none;
        }
      }
      @media screen and (min-width: 768px) {
        > header {
          width: 200px;
          font-weight: 400;
          float: right;
          div {
            text-align: center;
            margin: 1em;
          }
          h1 {
            text-align: center;
            a {
              font-weight: 400;
              font-family: $pagetitlefont;
              text-align: center;
              color: $primary-highlight-color;
            }
          }
          h2 {
            text-align: center;
            font-family: $subheadlinefont;
            font-size: 1.0rem;
            font-weight: 300;
            line-height: 1.0rem;
          }
          fieldset {
            border: 0;
            input {
              padding: 0.5em;
              background-color: $background-hl-color;
              width: 10em;
            }
          }
          input#searchbox {
            font-family: $formfont;
            border-width: 0 1px 1px 1px;
            outline: none;
          }
          #previous {
            text-align: left;
            ul#previousyears {
              list-style-type: none;
              font-size: 0.8rem;
              margin: 0 0 0 1rem;
              padding: 0;
              font-family: $archivenavfont;
              li.year {
                margin: 0.2rem 0 0 0;
                line-height: 0.8;
              }
              li.year:before {
                content: "";
                border-color: transparent $primary-highlight-color;
                border-style: solid;
                border-width: 0.35rem 0 0.35rem 0.45rem;
                display: block;
                height: 0;
                width: 0;
                left: -1rem;
                top: 0.9rem;
                position: relative;
              }
              ul {
                display: none;
                list-style-type: none;
                margin: 0.5rem 0 0 0.4rem;
                padding: 0;
                li {
                  margin: 0;
                }
              }
            }
          }
        }
        #location {
          font-family: $sansfont;
          font-size: 0.5rem;
        }
      }
      #content {
        &.admin{
          .hide {
            display:none;
          }
          ul {
            padding:0;
            li {
              list-style: none;
              margin: 0;
              padding: 0;
            }
          }
          #newarticle {
            textarea {
              width: 40rem;
              height: 40rem;
              background-color: $background-color;
              border: 1px solid $background-hl-color;
              font-family: $formfont;
              color: $font-color
            }
            input[type="text"] {
              width: 40rem;
            }
          }
        }
        &.nonav {
          margin-left: 0;
        }
        background-color: $background-color;
        height: 100%;
        @media screen and (max-width: 767px) {
          margin: 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          margin: 0 200px 0 0;
        }
        @media screen and (min-width: 1024px) {
          margin: 0 200px 0 $lefthandwidth;
        }
        @media screen and (max-width: 767px) {
          padding: 0.5rem 1rem;
        }
        @media screen and (min-width: 768px) {
          padding: 2rem;
        }
        article {
          header {
            width: auto;
            height: auto;
            float: none;
            background: none;
            min-height: 5rem;
            @media screen and (max-width: 767px) {
              h1 {
                text-align: left;
                font-family: $headlinefont;
                margin: 0 0 0.5rem 0;
                font-size: 2.0rem;
                color: $primary-highlight-color;
                font-weight: 100;
              }

              time.fancy {
                display: none;
              }
              time.plain {
                display: block;
                font-size: 0.7rem;
              }
            }
            @media screen and (min-width: 768px) {
              h1 {
                text-align: left;
                font-family: $headlinefont;
                margin: 0 0 1rem 0;
                font-size: 2.5rem;
                color: $primary-highlight-color;
                font-weight: 300;
              }

              time.plain {
                display: none;
              }
              time.fancy {
                display: block;
                margin: 0 0 1rem 1rem;
                float: right;
                width: 5rem;
                height: 4rem;
                p {
                  @include prefixtime('box-shadow', '0px 0px 6px rgba(0,0,0,0.3);');
                  background: $background-hl-color;
                  font-size: 1rem;
                  font-size: 16px;
                  font-weight: normal;
                  font-family: $datefont;
                  text-align: center;
                  color: $font-color;
                  text-transform: uppercase;
                  line-height: 1.5;
                  margin: 0;
                  padding: 0;
                  border-radius: 5px;
                  span {
                    color: $font-color;
                    background: #444;
                    font-size: 1.2rem;
                    line-height: 1.2;
                    font-weight: bold;
                    display: block;
                    padding: 0 0 0 0;
                  }
                  span.year {
                    border-radius: 0 0 5px 5px;
                    font-size: 0.85rem;
                    line-height: 15px;
                    background: $background-hl-color;
                    color: $font-color;
                    padding: 3px 0;
                    font-weight: normal;
                  }
                }
              }
            }
          }
          img {
            max-width: 100%;
          }
          pre {
            code {
              font-family: $monospacefont;
              font-size: 0.8rem;
              line-height: 1.0;
              border: 1px solid #556;
              white-space: pre;
              overflow: auto;
              padding: 5px;
              background: #223;
              display: block;
              margin: 1em 0;
            }
          }
          code {
            border: 1px solid #556;
            padding: 2px;
            font-family: $monospacefont;
            background: #223;
          }
          section {
            line-height: 1.6em;
          }
          h2 {
            font-family: $articlesectionheadingfont;
          }
        }
        #searchresults {
          nav {
            #paginator {
              float: right;
            }
          }
          ul {
            padding: 0;

            .searchresult {
              padding: 0;
              margin: 0 0 4rem 0;
              header {
                min-height: 0;
                time {
                  float: right;
                  width: auto;
                  height: auto;
                  font-size: 0.7rem;
                }
                h2 {
                  font-weight: 400;
                  text-align: left;
                  font-size: 1.5rem;
                }
              }
              span.highlight {
                font-weight: bold;
              }
            }
          }
        }
      }

      a {
        text-decoration: none;
        color: $secondary-highlight-color;
        img {
          border: 0;
        }
      }

      p {
        margin: 0.5rem 0;
      }

      input {
        margin: 0;
        padding: 2px;
        color: $font-color;
        font-size: 0.8rem;
        border: 1px solid #666;
        font-family: $formfont;
        background: $background-color;
      }

      iframe {
        border: 0;
      }

      footer {
        font-size: 0.8rem;
        background-color: $background-hl-color;
        padding: 10px;
        text-align: right;
      }

      .right {
        float: right;
      }

      .left {
        float: left;
      }

      .hohoho {
        display: none;
      }

      .centertext {
        text-align: center;
      }

      .clear {
        clear: both;
      }

      .prop {
        float: right;
        width: 1px;
        min-height: 313px;
        height: 313px;
      }

      .clear_prop {
        clear: both;
        height: 1px;
        overflow: hidden;
      }

      .sparkline {
        fill: none;
        stroke: $secondary-highlight-color;
        stroke-width: 1.5px;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
      }

      .axis text, .axislabel {
        fill: $font-color;
        font-family: sans-serif;
        font-size: 11px;
      }

      .nano > .nano-pane {
        background: $background-hl-color;
        -webkit-border-radius: 0;
        border-radius: 0;
      }

      .nano > .nano-slider {
        background: #fff;
      }
    }
  }
}

.here {
  background-color: $background-color;
  border: 0;
}



