{% extends "base.html" %}

{% load filters %}
{% load tz %}
{% block title %}
    {{ article.title }} ::
{% endblock %}

{% block content %}
    <article itemscope itemtype="http://schema.org/blogposting">
        <header>
            <time class="fancy" itemprop="datePublished"
                  datetime="{{ article.datestamp|utc|date:"Y-m-d" }}{{ article.datestamp|utc|date:"H:i:s" }}Z">
                <p>{{ article.datestamp|utc|date:"N" }} <span
                        class="day">{{ article.datestamp|utc|date:"d" }}</span><span
                        class="year">{{ article.datestamp|utc|date:"Y" }}</span></p></time>
            <h1 itemprop="name headline">{{ article.title }}</h1>
            <time class="plain" itemprop="datePublished"
                  datetime="{{ article.datestamp|utc|date:"Y-m-d" }}{{ article.datestamp|utc|date:"H:i:s" }}Z">
                {{ article.datestamp|utc|date:"N d, Y" }}
            </time>
            <meta itemprop="author" content="Andrew Rowson"/>
        </header>
        <section itemprop="articleBody">
            {{ article.markdown|my_markdown }}
        </section>
    </article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'growse'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ article.id }}-{{ article.shorttitle }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


{% endblock %}

{% block rightnav %}
    {% if archives %}
        <div id="previous">
            <h2>Previous things</h2>
            <ul id="previousyears">
                {% for archive in archives %}
                    {% if archive.newyear %}
                        {% if not forloop.first %}
                            </ul>
                        {% endif %}
                        <li class="year">
                            <a href="javascript:$('ul#{{ archive.month|date:"Y" }}').slideToggle(100);">{{ archive.month|date:"Y" }}</a>
                        </li>
                        <ul id="{{ archive.month|date:"Y" }}" class="hide">
                    {% endif %}
                <li><a href="/{{ archive.month|date:"Y" }}/{{ archive.month|date:"m" }}/"
                       title="{{ archive.month|date:"F" }} {{ archive.month|date:"Y" }} ({{ archive.title__count }})">{{ archive.month|date:"F" }}</a>
                    ({{ archive.title__count }})
                </li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
