{% load tz %}
{% load static from staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400|Quando|Droid+Sans+Mono' rel='stylesheet'
          type='text/css'>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="google-site-verification" content="Sr-L2EMmHr-hc4npzb8p1f7zi9ew1Iev84ly519r1p4"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Various thoughts, happenings, projects and other things going on in the world of Andrew Rowson"/>
    <title>{% block title %}{% endblock %}growse.com</title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//ssl.google-analytics.com">
    <link rel="shortcut icon" type="image/ico" href="//{{ cdn_url }}/img/www/orangeblack/favicon.ico"/>
    <link rel="alternate" title="RSS Feed" href="//www.growse.com/news/rss/" type="application/rss+xml"/>
    {% compressed_css 'www' %}
    <script type="text/javascript">;
    (function (a) {
        _q = function () {
            return a;
        };
        $ = function (f) {
            typeof f === "function" && a.push(arguments);
            return $;
        };
        jQuery = $.ready = $;
    }([]));</script>
    {% if april_first %}
        <style>#container {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1) filter : FlipH;
            -ms-filter: "FlipH";
        }</style>
    {% endif %}
</head>
<body>
<div id="container">
    <header>
        <h1 id="titletext"><a href="/" title="Home">growse.com</a></h1>

        <h2 id="about">I write things here.</h2>

        <div id="search">
            <form action="/search/" method="post">
                <fieldset>
                    {% csrf_token %}
                    <input placeholder="Search for things" id="searchbox" type="text" name="a" class="searchtext"/>
                </fieldset>
            </form>
        </div>

        {% block rightnav %}{% endblock %}
        <div id="location">
        </div>
    </header>
    <nav>
        <ul id="articlenav">
            {% for navitem in navitems %}
                <li data-datestamp="{{ navitem.datestamp|utc|date:"Y-m-d H:i:s" }}" data-id="{{ navitem.id }}"><a
                        href="/{{ navitem.datestamp|utc|date:"Y/m/d" }}/{{ navitem.shorttitle }}/"
                        title="{{ navitem.title }}"
                        {% if article.id == navitem.id %}class="here"{% endif %}><span>{{ navitem.title }}</span></a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        Almost everything (c) 2002-{% now "Y" %} <a rel="author" href="https://plus.google.com/+AndrewRowson">Andrew
        Rowson</a>. If you break anything because of something you read here, that's your own problem.
    </footer>
</div>
{% compressed_js 'www' %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-185490-7']);
    _gaq.push(['_trackPageview']);
    setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">(function (i, s, q, l) {
    for (q = window._q(), l = q.length; i < l;) {
        $.apply(this, s.call(q[i++]));
    }
    window._q = undefined;
}(0, Array.prototype.slice));</script>
</body>
</html>
