{% extends "base.html" %}

{% block title %}
{{searchterm}} :: search :: 
{% endblock %}

{% block content %}
<article>
    <header>
<h1>Search Results</h1>
<p>You looked for <strong>{{searchterm}}</strong>. I found {{results.paginator.count}} things that might have something to do with this.</p>
</header>
<nav>
    {% if results.paginator.num_pages > 1 %}
        <p>
        {% if results.has_previous %}
        <a href="/search/{{searchterm}}/1/" title="First Page">First</a> :: <a href="/search/{{searchterm}}/{{results.previous_page_number}}/" title="Page {{results.previous_page_number}}">Prev</a>
        {% else %}
        First :: Prev
        {% endif %}
        :: Page {{results.number}} of {{results.paginator.num_pages}} :: 
        {% if results.has_next %}
        <a href="/search/{{searchterm}}/{{results.next_page_number}}/" title="Page {{results.next_page_number}}">Next</a> :: <a href="/search/{{searchterm}}/{{results.paginator.num_pages}}/" title="Last Page">Last</a>
        {% else %}
        Next :: Last
        {% endif %}
        </p>
    {% endif %}
    </nav>
    <ul id="searchresults">
        {% for result in results.object_list %}
        <section class="searchresult">
            <h2>
                <a href="/news/comments/{{result.shorttitle}}/">{{result.title}}</a>
            </h2>
            <p>{{result.datestamp}}</p>
            <p>... {{result.headline|safe}} ...</p>
        </section>
        {% endfor %}
    </ul>
{% endblock %}
