{% extends "base.html" %}
{% load humanize %}
{% load compressed %}
{% block content %}
    <article>
        <header>
            <h1>Dribble</h1>
        </header>
        <p>This year, I've averaged a huge <strong>{{ avgspeed|floatformat:2 }}mph</strong> after covering
            <strong>{{ totaldistance|floatformat:2|intcomma }} miles</strong>.</p>

        <p>Last device ping: {{ lastlocation.timestamp|naturaltime }}.</p>

        <h2>Map</h2>

        <div id="map"></div>
        <h2>Speed</h2>


        <div id="speedgraph"></div>
        <div id="speedhourgraph"></div>
        <h2>Locator accuracy</h2>

        <div id="accuracygraph"></div>
        <div id="accuracyhourgraph"></div>
    </article>
    <script type="text/javascript">
        var accuracy_data =
                {{ accuracies|safe }};
        var speed_data =
                {{ speeds|safe }};
        var accuracy_hours_data = {{ accuracy_hours|safe }};
        var speed_hours_data = {{ speed_hours|safe }};
        $(function () {
            growse.drawLineChart('#accuracygraph', accuracy_data, 800, 200, '', 'm');
            growse.drawLineChart('#speedgraph', speed_data, 800, 200, '', 'mph');
            growse.drawColumnChart('#accuracyhourgraph', accuracy_hours_data, 800, 200, 'hour', 'm');
            growse.drawColumnChart('#speedhourgraph', speed_hours_data, 800, 200, 'hour', 'mph');
            growse.drawMap('#map');
        });
    </script>
    {% compressed_js 'd3' %}
{% endblock %}