{% extends "blog/base.html" %}

{% block title %}
{{pagetitle|lower}} :: 
{% endblock %}

{% block content %}
<h1>{{pagetitle}}</h1>
{% ifequal pagetitle 'Projects' %}
<p>From time to time, I embark on various software projects. I usually do this because someone has asked me nicely to, or because I've decided I need something that's different/better than what's currently available. I hope to try and put details of what I'm involved with here, so that generations of descendants can see how great I am.</p>
{% endifequal %}
{% ifequal pagetitle 'Misc' %}
<p>Every now and then, I do something silly. If I remember what happened, I'll write about it and post it up here.</p>
{% endifequal %}
{% ifequal pagetitle 'Videos' %}
<p>Once in a while, I'll video stuff for no good reason. I've no real idea why.</p>
{% endifequal %}
{% if articles %}
	<ul>
		{% for article in articles %}
		<li><a href="/projects/{{article.shorttitle}}/">{{article.title}}</a> - {{article.description}}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}
