{%spaceless%}
<!DOCTYPE html> 
<html> 
	<head> 
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
		<meta name="google-site-verification" content="Sr-L2EMmHr-hc4npzb8p1f7zi9ew1Iev84ly519r1p4" /> 
		<title>{% block title %}{% endblock %}growse.com</title> 
		<link rel="shortcut icon" type="image/ico" href="http://cdn1.res.growse.com/img/www/orangeblack/favicon.ico" />
		<link rel="alternate" title="RSS Feed" href="http://www.growse.com/news/rss/" type="application/rss+xml" /> 
		{% if debug_mode%}
		<link type="text/css" rel="stylesheet" href="http://res.growse.com/css/www/style.css" /> 
		<link type="text/css" rel="stylesheet" href="http://res.growse.com/css/www/photos.css" /> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery-1.6.4.min.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.galleriffic.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.opacityrollover.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.history.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/ga.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/highcharts.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/www/scripts.js"></script> 
		{%else%}
		<link type="text/css" rel="stylesheet" href="http://cdn1.res.growse.com/mincache/www.{{site_version}}.css" /> 
		<script type="text/javascript" src="http://cdn1.res.growse.com/mincache/www.{{site_version}}.js"></script> 
		{% endif %}
	</head> 
	<body>
		<div id="container"> 
			<div id="header"> 
				<nav>
					{% include "blog/nav.html" %}
				</nav> 
				<div id="headerimage"><span>growse.com</span></div> 
			</div> 
			<div id="content"> 
				<div id="search"> 
					<form action="/search/" method="post"> 
						<fieldset> 
							{% csrf_token %}
							<input placeholder="Search" id="searchbox" type="text" name="a" class="searchtext" /> 
							<input type="image" alt="go" src="http://cdn1.res.growse.com/img/www/orangeblack/search.png" class="searchimage" /> 
						</fieldset>
					</form> 
				</div> 
				{% block content %}
				{% endblock %}	
			</div> 
			<footer> 
				Fin.
			</footer> 
		</div> 
		<script type="text/javascript"> if (window.location.href.substring(0,22)=='http://www.growse.com/') {var pageTracker = _gat._getTracker("UA-185490-7");	pageTracker._setDomainName("www.growse.com");pageTracker._trackPageview();}</script> 
	</body> 
</html>
{%endspaceless%}
