{%spaceless%}
<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<title>{% block title %}{% endblock %}growse.com</title>

		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
		<meta name="google-site-verification" content="Sr-L2EMmHr-hc4npzb8p1f7zi9ew1Iev84ly519r1p4" />
		<meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		
		<link rel="apple-touch-icon" href="http://cdn1.res.growse.com/img/www/orangeblack/touch-icon.png" />
		<link rel="apple-touch-icon-precomposed" href="http://cdn1.res.growse.com/img/www/orangeblack/touch-icon.png" />
		<link rel="shortcut icon" type="image/ico" href="http://cdn1.res.growse.com/img/www/orangeblack/favicon.ico" />
		<link rel="alternate" title="RSS Feed" href="http://www.growse.com/news/rss/" type="application/rss+xml" /> 
		
		{% if debug_mode%}
		<link type="text/css" rel="stylesheet" href="http://res.growse.com/css/www/style.mobile.css" /> 
		<link type="text/css" rel="stylesheet" href="http://res.growse.com/css/www/photos.css" /> 
		
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery-1.6.4.min.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.galleriffic.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.opacityrollover.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/jquery.history.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/ga.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/common/highcharts.js"></script> 
		<script type="text/javascript" src="http://res.growse.com/js/www/scripts.js"></script> 
		{%else%}
		<link type="text/css" rel="stylesheet" href="http://cdn1.res.growse.com/mincache/www.{{site_version}}.css" /> 
		<script type="text/javascript" src="http://cdn1.res.growse.com/mincache/www.{{site_version}}.js"></script> 
		{% endif %}
	</head> 
	<body>
		<div id="container"> 
			<header>
				<div id="mobilebuttons">
			       		<a href="javascript:$('#search').slideToggle('fast');"><img src="http://res.growse.com/img/www/orangeblack/searchbtn.png" /></a>
			       		<a href="javascript:$('nav').slideToggle('fast');return false;"><img src="http://res.growse.com/img/www/orangeblack/menu.png"  /></a>
				</div>
				<div id="headerimage"><span>growse.com</span></div> 
			</header>
			<div id="search"> 
				<form action="/search/" method="post"> 
					<fieldset> 
						{% csrf_token %}
						<input placeholder="Search" id="searchbox" type="text" name="a" class="searchtext" /> 
					</fieldset>
				</form> 
			</div> 
			<nav>
				{% include "blog/nav.html" %}
			</nav> 
			<div id="content"> 
				{% block content %}
				{% endblock %}	
			</div> 
			<footer> 
				Fin.
			</footer> 
		</div> 
		<script type="text/javascript">window.addEventListener('load', function(e) {setTimeout(function() { window.scrollTo(0, 1); }, 1);}, false);if (window.location.href.substring(0,22)=='http://www.growse.com/') {var pageTracker = _gat._getTracker("UA-185490-7");	pageTracker._setDomainName("www.growse.com");pageTracker._trackPageview();}</script> 
	</body> 
</html>
{%endspaceless%}
