{% extends "blog/base.html" %}

{% block content %}
<h1>Hello</h1>
<div id="homeleft">
	<div class="homepanel"> 
		<h1>Happenings</h1>
		<p id="newscrumb"><a href="/news/rss/" title="RSS Feed"><img src="http://res.growse.com/img/www/orangeblack/feedicon.png" alt="RSS Feed" /></a></p> 
		<p>Here's what's been going on.</p>
		<h2>{{article.title}}</h2>
		{{article.body|safe|truncatewords_html:"100"}}
		<p><a href="/news/comments/{{article.shorttitle}}/" title="More ({{article.comment__count}} comments)">More ({{article.comment__count}} comments)</a></p> 
	</div>
	<div class="homepanel"> 
	        <h1>Thoughts</h1>  
	        <div id="twitter_div"><p style="text-align: center;"><img src="http://cdn1.res.growse.com/img/www/orangeblack/twitterloader.gif" alt="loading twitter" /></p></div>
	</div> 
	<div class="homepanel">
		<h1>Spams</h1>
		<div id="spamwatch">
			<p>Flash isn't installed :(</p> 
		</div> 
		<p class="homepagesmall"><a href="/projects/spamwatch/">WTF is spamwatch?</a></p>
	</div>
</div>
<div id="homeright">
	<div class="homepanel centertext" id="homepicturepanel">
		<h1>Pictures</h1>
		<iframe width="285" height="290" src="http://photos.growse.com/min.html"><p>Bzzt. No iframes = no picture goodness.</p></iframe>
	</div>
	<div class="homepanel">
		<h1>Places</h1>
		<div id="twitterlocation_div"><p style="text-align: center;"><img src="http://cdn1.res.growse.com/img/www/orangeblack/twitterloader.gif" alt="loading twitter" /></p></div>
	</div>
</div>
<script type="text/javascript">
	getTwitters('twitter_div', {
		id: 'growse',
		count: 4,
		enableLinks: true,
		ignoreReplies: true,
		clearContents: true,
	});
</script>
<script type="text/javascript">
	var so = new SWFObject("http://res.growse.com/swf/amline/amline.swf", "amline", "500", "200", "8", "#222222");
	so.addVariable("settings_file", encodeURIComponent("http://res.growse.com/spamwatch/settings.xml"));
	so.addVariable("data_file", encodeURIComponent("http://res.growse.com/spamwatch/data.txt"));
	so.write("spamwatch");
</script>
<p style="clear:both;"></p> 
{% endblock %}
