{% extends "blog/base.mobile.html" %}

{% block content %}
<section>
	<header>
	        <h1>Happenings</h1>  
	</header>
	<article>
		<header>
			<h2>{{article.title}}</h2>
		</header>
		{{article.body|safe|truncatewords_html:"100"}}
		<p><a href="/news/comments/{{article.shorttitle}}/" title="More ({{article.comment__count}} comments)">More ({{article.comment__count}} comments)</a></p> 
	</article>
</section>
<section>
	<header>
	        <h1>Thoughts</h1>  
	</header>
        <div id="twitter_div"><p style="text-align: center;"><img src="http://cdn1.res.growse.com/img/www/orangeblack/twitterloader.gif" alt="loading twitter" /></p></div>
</section>
<section>
	<header>
		<h1>Places</h1>
	</header>
	<div id="twitterlocation_div"><p style="text-align: center;"><img src="http://cdn1.res.growse.com/img/www/orangeblack/twitterloader.gif" alt="loading twitter" /></p></div>
</section>
<script type="text/javascript">
	$(document).ready(function() {growse.loadFrontPage();});
</script>
<p style="clear:both;"></p> 
{% endblock %}
