<ul>
	<li {% ifequal nav 'news' %} class="here" {% endifequal %}><a class="news" href="/news/" title="News">&nbsp;</a></li> 
	<li {% ifequal nav 'projects' %} class="here" {% endifequal %}><a class="projects" href="/projects/" title="Projects">&nbsp;</a></li> 
	<li><a class="pictures" href="http://photos.growse.com/" title="Pictures">&nbsp;</a></li> 
	<li {% ifequal nav 'videos' %} class="here" {% endifequal %}><a class="videos" href="/videos/" title="Videos">&nbsp;</a></li> 
	<li {% ifequal nav 'misc' %} class="here" {% endifequal %}><a class="misc" href="/misc/" title="Misc">&nbsp;</a></li> 
	<li {% ifequal nav 'links' %} class="here" {% endifequal %}><a class="links" href="/links/" title="Links">&nbsp;</a></li> 
</ul> 
