<ul>
	<li class="first {% ifequal nav 'news' %}here{% endifequal %}"><a class="news" href="/news/" title="News">News</a></li> 
	<li {% ifequal nav 'projects' %} class="here" {% endifequal %}><a class="projects" href="/projects/" title="Projects">Projects</a></li> 
	<li><a class="pictures" href="http://photos.growse.com/" title="Pictures">Pictures</a></li> 
	<li {% ifequal nav 'videos' %} class="here" {% endifequal %}><a class="videos" href="/videos/" title="Videos">Videos</a></li> 
	<li {% ifequal nav 'misc' %} class="here" {% endifequal %}><a class="misc" href="/misc/" title="Misc">Misc</a></li> 
	<li {% ifequal nav 'links' %} class="here" {% endifequal %}><a class="links" href="/links/" title="Links">Links</a></li> 
</ul>
