{% extends "blog/base.html" %}

{% block title %}
archive :: news ::
{% endblock %}

{% block content %}
<h1>News Archive</h1>
<p>Yes. Really.</p>
{% if archives %}
	{% for archive in archives %}
		{% if archive.newyear %}
			{% if not forloop.first %}
				</ul>
			{% endif %}
			<h2>{{archive.month|date:"Y"}}</h2>
			<ul>
		{% endif %}
		<li><a href="/news/archive/{{archive.month|date:"Y"}}/{{archive.month|date:"m"}}/" title="{{archive.month|date:"F"}} {{archive.month|date:"Y"}} ({{archive.title__count}} entries)">{{archive.month|date:"F"}}</a> ({{archive.title__count}} entries)</li>
		{%if forloop.last %}
			</ul>
		{% endif %}
	{% endfor %}
{%endif%}

{% endblock %}
