{% extends "blog/base.html" %}

{% block title %}
news :: 
{% endblock %}

{% block content %}
<h1>News</h1>
<p>The story of my life. As told by me. For more amusing anecdotes, please <a href="/news/archive/" title="News archive">visit the archive</a>.</p>
{% if top5articles %}
	{% for article in top5articles %}
		<article>
			<header>
				<h1>{{article.title}}</h1>
				<time datetime="{{article.datestamp|date:"c"}}Z" pubdate="pubdate">{{article.datestamp|date:"l d N Y @H:i"}}</time>
			</header>
			{{article.body|safe}}
			<p><a href="/news/comments/{{article.shorttitle}}/" title="{{article.comment__count}} comments">{{article.comment__count}} comments</a></p>
		</article>
	{% endfor %}
{% endif %}
{% endblock %}
