{{template "header" .}}
<div id="content">
    <article itemscope itemtype="http://schema.org/blogposting">
        <header>
            <time class="fancy" itemprop="datePublished"
            datetime="{{ .Article.Timestamp.UTC.Format "2006-01-02T15:04:05Z07:00" }}">
            <p>{{ .Article.Timestamp.UTC.Format "Jan"}} <span
            class="day">{{ printf "%02d" .Article.Timestamp.UTC.Day }}</span><span
            class="year">{{ .Article.Timestamp.UTC.Year }}</span></p></time>
            <h1 itemprop="name headline">{{ .Article.Title }}</h1>
            <time class="plain" itemprop="datePublished"
            datetime="{{ .Article.Timestamp.UTC.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Article.Timestamp.UTC.Format "Monday, 02-Jan-06 15:04:05 MST"}}
            </time>
            <meta itemprop="author" content="Andrew Rowson"/>
        </header>
        <section itemprop="articleBody">
            {{ .Article.Rendered }}
        </section>
    </article>
    <div id="disqus_thread"></div>
    <!--<script type="text/javascript">
    var disqus_shortname = 'growse';
    var disqus_identifier = '{{ .Article.Id }}-{{ .Article.Slug }}';
    var disqus_url = 'https://www.growse.com{{ .Article.GetAbsoluteUrl }}';
    (function () {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>-->
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{{template "footer" .}}