{{template "header" .}}
<div id="content" class="nonav">
    <article id="searchresults">
        <header>
            <h1>Search Results</h1>

            <p>You looked for <strong>{{ .Searchterm }}</strong>. I found {{len .SearchResults}}
                things that might have something to do with this.</p>
        </header>

        <ul>
            {{range $index, $element := .SearchResults}}
            <section class="searchresult">
                <header>
                    <time itemprop="datePublished" datetime="{{ .Timestamp.UTC.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Timestamp.UTC.Format "02 Jan 2006" }}</time>
                    <h2>
                        <a href="/news/comments/{{ .Slug }}/">{{ .Title }}</a>
                    </h2>

                </header>
                <p>{{ .Rendered }}</p>
            </section>
            {{end}}
        </ul>
        <nav></nav>
    </article>
</div>
{{template "footer" .}}