{{template "header" .}}
<div id="content" class="nonav">
    <article>
        <header>
            <h1>Where I've Been</h1>
        </header>
        <p>This year, I've averaged a huge <strong>{{printf "%.2f" .Avgspeed }}mph</strong> after covering
            <strong>{{ RenderFloat "#,###.##" .Totaldistance }} miles</strong>.</p>

        <p>Last device ping:
            <strong>
                <time class="timeago" datetime="{{ .LastLocation.Timestamp.UTC.Format " 2006-01-02T15:04:05Z07:00" }}">{{.LastLocation.Timestamp}}</time></strong>.
        </p>

        <h2>Map</h2>

        <div id="map"></div>
        <button class="svgsave">Save as PNG</button>
        <select name="year">
            <option>2014</option>
            <option selected>2015</option>
        </select>

        <div style="display: none;">
            <canvas width="816" height="480"></canvas>
            <div id="svgdataurl"></div>
        </div>
    </article>
</div>
<script type="text/javascript" src="/static/js/where.js"></script>
<script type="text/javascript">
    //var speed_data ={{ .Speeds }};
    //var speed_hours_data = {{ .Speed_hours }};
    $(function () {
        var mapfile = "/static/js/world-50m.json";
        //growse.drawLineChart('#speedgraph', speed_data, 800, 200, '', 'mph');
        //growse.drawColumnChart('#speedhourgraph', speed_hours_data, 800, 200, 'hour', 'mph');
        growse.drawMap('#map', mapfile);

    });
</script>{{template "footer" .}}