{% extends "blog/base.html" %}

{% block title %}
{{article.title}} :: {{article.type|lower}} ::
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/blogposting">
    <header>
        <h1 itemprop="name headline">{{article.title}}</h1>
        {% if article.datestamp != None %}
        <time itemprop="datePublished" datetime="{{article.datestamp|date:"c"}}">{{article.datestamp|date:"l d N Y H:i"}}</time>
        {% endif %}
        <meta itemprop="author" content="Andrew Rowson" />
    </header>
    <section itemprop="articleBody">
        {{article.body|safe}}
    </section>
</article>
{% if article.type == 'NEWS' %}
    {% if comments.count != 0 %}
    <h2>Comments</h2>
    {% endif %}
    
    {% for comment in comments %}
    <div class="comment_title">
        {% if comment.website and  comment.website|length >= 1 %}
        <a href="{{comment.formattedwebsite}}" title="{{comment.name}}">{{comment.name}}</a>
        {% else %}
        {{comment.name}}
        {% endif %}
        - {{comment.datestamp}}
    </div>
    <div style="white-space: pre-line;" class="comment_body"><p>{{comment.comment}}</p></div>
    {% endfor %}
    
    <h2>Add a new comment</h2>
    <form class="commentform" method="post">
        <fieldset>
            {%csrf_token%}
            <p class="hohoho">Do not fill this out:<input type="text" name="email" value="" /></p>
            <p><label for="name">Name:</label> <input type="text" id="name" name="name" value="" class="text" required /></p>
            <p><label for="website">Website:</label> <input type="url" id="website" name="website" value="" class="text" /></p>
            <p><label for="comment">Comment:</label> <textarea rows="8" cols="40" id="comment" name="comment" required></textarea></p>
            <p><label></label><input class="submitbtn" type="submit" accesskey="s" value="Submit" /></p>
        </fieldset>
    </form>

{% endif %}

{% endblock %}
