{% load static from staticfiles %}
{% load compressed %}
<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
        <meta name="google-site-verification" content="Sr-L2EMmHr-hc4npzb8p1f7zi9ew1Iev84ly519r1p4" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Various thoughts, happenings, projects and other things going on in the world of Andrew Rowson" />
        <title>{% block title %}{% endblock %}growse.com</title> 
        <link rel="shortcut icon" type="image/ico" href="//{{cdn_url}}/img/www/orangeblack/favicon.ico" />
        <link rel="alternate" title="RSS Feed" href="//www.growse.com/news/rss/" type="application/rss+xml" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400|Quando|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        {% compressed_css 'www' %}
        <script type="text/javascript">;(function (a) {_q = function () { return a; };$ = function (f) {typeof f === "function" && a.push(arguments);return $;};jQuery = $.ready = $;} ([]));</script>
        {% if april_first %}
        <style>#container {-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1)filter: FlipH;-ms-filter: "FlipH";}</style>
        {%endif%}
    </head> 
    <body>
        <div id="container"> 
            <header>
            <h1 id="titletext"><a href="/" title="Home">growse.com</a></h1>
            <h2 id="about">I write things here.</h2>
            <div id="search">
                <form action="/search/" method="post">
                    <fieldset>
                        {% csrf_token %}
                        <input placeholder="Search for things" id="searchbox" type="text" name="a" class="searchtext" />
                    </fieldset>
                </form>
            </div>
            {% if archives %}
            <div id="previous">
                <h2>Previous things</h2>
                <ul id="previousyears">
                    {% for archive in archives %}
                    {% if archive.newyear %}
                    {% if not forloop.first %}
                </ul>
                {% endif %}
                <li><a href="javascript:$('ul#{{archive.month|date:"Y"}}').slideToggle(100);">{{archive.month|date:"Y"}}</a></li>
                <ul id="{{archive.month|date:"Y"}}" class="hide">
                    {% endif %}
                    <li><a href="/news/archive/{{archive.month|date:"Y"}}/{{archive.month|date:"m"}}/" title="{{archive.month|date:"F"}} {{archive.month|date:"Y"}} ({{archive.title__count}})">{{archive.month|date:"F"}}</a> ({{archive.title__count}})</li>
                    {%if forloop.last %}
                </ul>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif%}
        <div id="location">
        </div>
        </header>
        <nav class="scroll-pane">
        <ul>
            {% for navitem in articlenavlist%}
            <li><a href="/news/comments/{{navitem.shorttitle}}/" title="{{navitem.title}}" {%if article.id == navitem.id%}class="here"{%endif%}>{{navitem.title}}<p class="datestamp">{{navitem.datestamp|date:"d M Y"}}</p></a></li>
            {%endfor%}
            <script type="text/javascript">
                $(function() {
                        var percentagedown = ($('.here').position().top / $(window).height())*100;
                        if (percentagedown > 50) {
                        $('nav').scrollTop($('.here').position().top - ($(window).height()/2) + ($('nav ul li:first').height() / 2));
                        }
                        });
</script>
                </ul>
                </nav>
                <div id="content"> 
                    {% block content %}
                    {% endblock %}
                </div>
                <footer>
                Almost everything (c) 2002-{% now "Y" %} <a rel="author" href="https://plus.google.com/105730305908005594688">Andrew Rowson</a>. If you break anything because of something you read here, that's your own problem.
                </footer> 
            </div>
            <script type="text/javascript">
                $(function() {
                        $('.scroll-pane').jScrollPane();

                        });
extensionPlugin     = {

extPluginOpts   : {
                      // speed for the fadeOut animation
mouseLeaveFadeSpeed : 500,
                      // scrollbar fades out after hovertimeout_t milliseconds
                      hovertimeout_t      : 1000,
                      // if set to false, the scrollbar will be shown on mouseenter and hidden on mouseleave
                      // if set to true, the same will happen, but the scrollbar will be also hidden on mouseenter after "hovertimeout_t" ms
                      // also, it will be shown when we start to scroll and hidden when stopping
                      useTimeout          : true,
                      // the extension only applies for devices with width > deviceWidth
                      deviceWidth         : 980
                  },
hovertimeout    : null, // timeout to hide the scrollbar
                  isScrollbarHover: false,// true if the mouse is over the scrollbar
                  elementtimeout  : null, // avoids showing the scrollbar when moving from inside the element to outside, passing over the scrollbar
                  isScrolling     : false,// true if scrolling
                  addHoverFunc    : function() {

                      // run only if the window has a width bigger than deviceWidth
                      if( $(window).width() <= this.extPluginOpts.deviceWidth ) return false;

                      var instance        = this;

                      // functions to show / hide the scrollbar
                      $.fn.jspmouseenter  = $.fn.show;
                      $.fn.jspmouseleave  = $.fn.fadeOut;

                      // hide the jScrollPane vertical bar
                      var $vBar           = this.getContentPane().siblings('.jspVerticalBar').hide();

                      /*
                       * mouseenter / mouseleave events on the main element
                       * also scrollstart / scrollstop - @James Padolsey : http://james.padolsey.com/javascript/special-scroll-events-for-jquery/
                       */
                      $el.bind('mouseenter.jsp',function() {

                              // show the scrollbar
                              $vBar.stop( true, true ).jspmouseenter();

                              if( !instance.extPluginOpts.useTimeout ) return false;

                              // hide the scrollbar after hovertimeout_t ms
                              clearTimeout( instance.hovertimeout );
                              instance.hovertimeout   = setTimeout(function() {
                                  // if scrolling at the moment don't hide it
                                  if( !instance.isScrolling )
                                  $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                  }, instance.extPluginOpts.hovertimeout_t );


                              }).bind('mouseleave.jsp',function() {

                                  // hide the scrollbar
                                  if( !instance.extPluginOpts.useTimeout )
                                  $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                  else {
                                  clearTimeout( instance.elementtimeout );
                                  if( !instance.isScrolling )
                                  $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                  }

                                  });

                      if( this.extPluginOpts.useTimeout ) {

                          $el.bind('scrollstart.jsp', function() {

                                  // when scrolling show the scrollbar
                                  clearTimeout( instance.hovertimeout );
                                  instance.isScrolling    = true;
                                  $vBar.stop( true, true ).jspmouseenter();

                                  }).bind('scrollstop.jsp', function() {

                                      // when stop scrolling hide the scrollbar (if not hovering it at the moment)
                                      clearTimeout( instance.hovertimeout );
                                      instance.isScrolling    = false;
                                      instance.hovertimeout   = setTimeout(function() {
                                          if( !instance.isScrollbarHover )
                                          $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
                                          }, instance.extPluginOpts.hovertimeout_t );

                                      });

                          // wrap the scrollbar
                          // we need this to be able to add the mouseenter / mouseleave events to the scrollbar
                          var $vBarWrapper    = $('<div/>').css({
position    : 'absolute',
left        : $vBar.css('left'),
top         : $vBar.css('top'),
right       : $vBar.css('right'),
bottom      : $vBar.css('bottom'),
width       : $vBar.width(),
height      : $vBar.height()
}).bind('mouseenter.jsp',function() {

    clearTimeout( instance.hovertimeout );
    clearTimeout( instance.elementtimeout );

    instance.isScrollbarHover   = true;

    // show the scrollbar after 100 ms.
    // avoids showing the scrollbar when moving from inside the element to outside, passing over the scrollbar                              
    instance.elementtimeout = setTimeout(function() {
        $vBar.stop( true, true ).jspmouseenter();
        }, 100 );   

    }).bind('mouseleave.jsp',function() {

        // hide the scrollbar after hovertimeout_t
        clearTimeout( instance.hovertimeout );
        instance.isScrollbarHover   = false;
        instance.hovertimeout = setTimeout(function() {
            // if scrolling at the moment don't hide it
            if( !instance.isScrolling )
            $vBar.stop( true, true ).jspmouseleave( instance.extPluginOpts.mouseLeaveFadeSpeed || 0 );
            }, instance.extPluginOpts.hovertimeout_t );

        });

$vBar.wrap( $vBarWrapper );

}

}

}
</script>
{% compressed_js 'www' %}
<script type="text/javascript">var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-185490-7']);  _gaq.push(['_trackPageview']);  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>    
<script type="text/javascript">(function (i, s, q, l) {for (q = window._q(), l = q.length; i < l; ) {$.apply(this, s.call(q[i++]));}window._q = undefined;} (0, Array.prototype.slice));</script>
                </body> 
            </html>
